#sidebar {
    /* height: 100%; */
    min-height: 2500px;
    margin-bottom: 20px;
    /* padding-bottom: 100%; */
    padding: 20px;
    float: left;
    margin: 20px 20px 0 20px ;
    width: auto;
    background-color: rgb(240, 248, 255, 0.8)
}

#searchterm {
    width: 80%;
    margin-bottom: 5px;
}

#submit {
    margin-top: 5px;
}
.imgContainer,
#opener {
    /* float: left; */
    margin: 20px 20px 0 0;
    display: inline-block;
    position: relative;
    text-align: center;
}

.rating {
    position: absolute;
    bottom: 5px;
    left: 12px;
    color: white;
}

.btn {
    margin: 5px auto;
}

.search {
    margin: 5px auto;
    width: 80%;
    display: block;
}

body {
    background-color: cornflowerblue;
}

