#sidebar {
    height: 100%;
    margin-bottom: 20px;
    padding-bottom: 100%;
    padding-top: 20px;
    float: left;
    margin: 20px 20px 0 20px ;
    width: auto;
    background-color: rgb(240, 248, 255, 0.8)

}

#searchterm {
    width: 80%;
    margin-bottom: 5px;
}

#submit {
    margin-top: 5px;
}

.btn {
    margin: 5px auto;
}

.search {
    margin: 5px auto;
    width: 80%;
}

body {
    background-color: cornflowerblue;
}

